.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

.rights {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 60%;
  font-size: 0.8em;
  font-weight: normal;
}

.rights h4 {
  margin-bottom: 0px;
  margin-right: 2px;
  font-size: 1em;
  font-weight: bold;
}

.socialLinks a {
  margin-left: 0.5em;
  margin-bottom: 0;
  align-items: flex-end;
}
