.blogBody {
   margin-left: 5%;
   margin-right: 5%;
}

.blogBody h4{
   
   color: #3da9fc;
   font-style: none;
}
.blogIntroP {
   font-size: 1.5em;
}

.blogPostTitle  a{
   color: #3da9fc;
   font-style: none;
}